/*.app-wrapper {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-gap: 20px;
}*/

.nameAvto {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 5px;
}
.data {
    display: grid;
    padding: 5px;
    border-radius: 10%;
    margin-top: 5px;
    margin-left: 3px;
    align-items: center;
    transition-duration: 0.7s;
}
.data:hover {
    color: white;
    background: black;
    width: 101%;
    height: 101%;
}
.types {
    margin-top: 20px;
    position: absolute;
}
.password {
    width: 200px;
}