.nameAvto {
    display: grid;
    margin: 20px 0px;
    grid-template-columns: repeat(15, 1fr);
    gap: 5px;
}


.data {
    display: grid;
    padding: 5px;
    border-radius: 10%;
    margin-top: 5px;
    margin-left: 3px;
    align-items: center;
    transition-duration: 0.7s;
}

.data:hover {
    color: white;
    background: black;
    width: 101%;
    height: 101%;
}

.types {
    margin-top: 20px;
    position: absolute;
}

.password {
    width: 200px;
}

@media screen and (max-width: 480px) {
    .nameAvto {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
        margin: 10px 0;
    }
    .data {
        width: 100%;
    }
    .types {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}